body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#title {
    margin-top: 1em;
    text-align: center;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h1 a
{
    color: white;
    text-decoration: none;
}

#add_beer_form
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#boiteD
{
    margin-right: 10%;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

#boiteG
{
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

input   
{
    border-radius: 1.5em;
    background-color: white;
    border: 1px solid white;
    color: gray;
    padding: .5em;
    line-height: 1em;
    vertical-align: middle;
}

.conteneur:hover
{
    -webkit-box-shadow: inset -1px 3px 8px 5px white, 2px 5px 16px 0px black, 5px 5px 35px 12px rgba(255,163,26,0.5); 
    box-shadow: inset -1px 3px 8px 5px white, 2px 5px 16px 0px black, 5px 5px 35px 12px rgba(255,163,26,0.5);
}

.conteneur {
    background-color: white;
    border: 1px solid white;
    width: 100%;
    height: 3em;
    border-radius: 1.5em;
    display: flex;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;

}

.input {
    background-color: white;
    border: 1px solid white;
    border-radius: 1.5em;
    color: black;
    width: 100%;
}

.input:focus {
    outline: none;
}

#logosearch {
    size: 100%;
    width: 2em;
    height: 2em;    
    margin-left: 1em;
    margin-top: .9em;
    color: rgb(28, 28, 28);
}

.select_options
{
    background-color: white;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 10em;
    font-size: 1em;

    padding-bottom: 2%;
    padding-left: 2%;
    color: black;
}

.select_options:hover
{
    color: rgb(255,163,26);
}

#submit {
    background-color: white;
    width: 10em;
    height: 3em;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 1em;
    text-decoration: underline;
}

#submit:hover
{
    color: rgb(255,163,26);
}

.error
{
    border: 2px solid rgb(181, 21, 21);
    border-radius: 1.4em;
    animation: .25s shake;
    width: 100%;
}

@keyframes shake
{
    30%{
        transform:translateX(-.25em);
    }

    50%{
        transform: translatex(.25em);
    }

    70%{
        transform:translatex(-.25em);
    }

    90%{
        transform: translatex(.25em);
    }
}

.error_message
{
    display: flex;
    width: 100%;
    color: red;
    margin: .1em;
    font-size: 1em;
    justify-content: center;
    animation: .25s shake;
}