body
{
    color: white;
    background-color: black;
    margin: 0;
}

#title {
    margin-top: 1em;
    text-align: center;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h1 a
{
    color: white;
    text-decoration: none;
}

select
{
    border: 1px solid white;
    overflow: hidden;
    margin-right: 1em;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 1px solid white;
    max-width: 60%;
    height: 3em;
    border-radius: 1.5em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}

#submit {
    background-color: white;
    border: 1px solid white;
    border-radius: 1.5em;
    width: 10%;
    height: 100%;
    color: #999999;
    cursor: pointer;
    text-align: right;
    margin-right: 1em;
}

#logosearch {
    size: 100%;
    width: 2em;
    height: 2em;
    margin-left: 1em;
    margin-top: .9em;
    color: rgb(28, 28, 28);
}

.beerbox a
{
    background-color: black;
    color: white;
    text-decoration: none;
}

.beerbox
{
    // border: 1px solid green;
    margin-left: 2em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form
{
    margin-bottom: 5em;
}

.border_separation
{
    border-bottom: 1px solid gray;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

.border_separation_undo
{
    border-top: 3px solid black;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -.1em;
    padding-bottom: 2em;
}

.strength_filter
{
    margin-top: auto;
    margin-bottom: auto;
}

.IBU_filter
{
    margin-top: auto;
    margin-bottom: auto;
}

.input
{
    border: 1px solid white;
    width: 70px;
    color: black;
}