.beerbox {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 2.5em;
    margin: 10px;
    padding: 10px;
}

.beerbox h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-left: 2em;
}

a {
    color: #000;
    text-decoration: none;
}


.beerinfo p {
    margin: 0;
    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
}


.beerinfo {
    margin-top: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.beer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.beer h1 {
    text-align: center;
    font-size: 3em;
}

.info p {
    text-align: center;
    font-size: 1.5em;
}

.titlecomment {
    color:#ffffff;
    text-align: center;
    margin-top: 5em;
}   