#comments_box
{
    // border: 1px solid orange;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

// .comment
// {
//     //border: 1px solid violet;
//     width: 95%;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 1em;
// }

h3
{
    font-size: 1.18em;
    font-weight: 500;
}

.user_name
{
    color: rgb(255,163,26);
    text-decoration: none;
}

.user_name span
{
    color: white;
    text-decoration: none;
}

.comment_text
{
    font-size: 1em;
    margin-left: .5em;
    word-wrap: break-word;
}

.grade
{
    margin-left: .5em;
}

.post_date
{
    font-style: italic;
}

.entete
{
    display: flex;
    flex-direction: row;
    margin-bottom: -1em;
}

.comment img
{   
    width: 1.6em;
    height: 1.6em;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 1.5em;
    margin-right: .5em;
}