header {
  padding: .5em;
  /* border: 1px solid white; */
  color: white;
}

.menu-container {
  display: inline-block;
  cursor: pointer;
  margin-top: .5em;
  margin-left: .5em;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #e6e6e6;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.topnav {
  position: absolute;
  left: calc(50px + 1em);
  top: .5em;
  background-color: black;
  overflow: hidden;
  text-decoration: none;
  font-size: 1.2em;
  font-family: Arial, sans-serif;
}

.hide {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: black;
  border-radius: 60%;

  transition: .5s;
  text-decoration: none;
}

.topnav a:hover {
  transition: .5s;

  background-color: #ddd;
  color: black;
  border-radius: 12.5%;
}

