body
{
    color: white;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    margin-top: 0.2em;
    text-align: center;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

button
{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    border: 1px solid white;
    padding: .7em;
    font-size: .8em;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 3em;
    margin-bottom: 3em;
}

button:hover
{
    text-decoration: underline;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    padding: .7em;
    font-size: .9em;
    transition: .5s;
}

.table1
{
    border: 1px solid red;
    width: 50%;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#table2
{
    border: 1px solid orange;
    width: 50%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.hidden
{
    display: none;
}

table th
{
    border: 1px solid green;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

table td a
{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}