body
{
    color: white;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.table1
{
    border: 1px solid orange;
    width: 50%;
}

.table2
{
    border: 1px solid orange;
    width: 50%;
}

.hidden
{
    display: none;
}
