body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#title{
    margin-top: 1em;
    text-align: center;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

#search{
    background-color:rgb(255, 255, 255);
    border: 1px solid white;
    width: 50%;
    height: 3em;
    border-radius: 1.5em;
    display:flex;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    
}

#input {
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1.5em;
    width: 80%;
}



#input:focus {
    outline: none;
}

.logosearch {
    size: 100%;
    width: 2em;
    height: 2em;
    margin-left: 1em;
    margin-top: .9em;
    color: rgb(28, 28, 28); 
}
