body
{
    color: white;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#username
{
    margin-top: 1em;
    color: white;
    // border: 1px solid red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2em;
}   

#black_box
{
    margin-top: 1em;
    // border: 1px solid orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#picture_beer
{
    // border: 1px solid green;
    width: 20em;
    height: 20em;
    padding: 0.2%;
    box-shadow: 8px 8px 10px 0 rgba(255, 255, 255, 0.15);
    border-radius: 1.5em;
}

#information_user
{
    display: flex;
    flex-direction: column;
    line-height: 3em;
    color: white;
    // border: 1px solid blue;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

#follow_button
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3em;
}

button
{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    border: 1px solid white;
    padding: .7em;
    font-size: 1em;
    transition: .5s;
}

button:hover
{
    text-decoration: underline;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    border: 1px solid black;
    padding: .7em;
    font-size: 1.1em;
    transition: .5s;
}

#beeruser
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#beeruser h1
{
    margin-top: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    justify-content: center;
    // border: 1px solid violet;
}

.beerbox a
{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: .9em;
}

.beerbox a:hover
{
    color: gray;
}

.beerbox
{
    // border: 1px solid yellow;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: -1em;
}

.border_separation
{
    border-bottom: 1px solid gray;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    height: 0;
}

.border_separation2
{
    border-bottom: 1px solid gray;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: -1.5em;
    height: 0;
}

.border_separation3
{
    border-bottom: 1px solid gray;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1em;
    margin-bottom: 2em;
    height: 0;
}

.border_separation4
{
    border-bottom: 1px solid gray;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4em;
    margin-bottom: 2em;
    height: 0;
}

.border_separation_undo
{
    border-top: 3px solid black;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -.1em;
    padding-bottom: 2em;
    height: 0;
}

#disconnect_button
{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    border: 1px solid white;
    padding: .7em;
    font-size: 1em;
    transition: .5s;
}

#disconnect_button:hover
{
    text-decoration: underline;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    border: 1px solid black;
    padding: .7em;
    font-size: 1.1em;
    transition: .5s;
}

#disconnect_button_box
{
    text-align: center;
    width: 10%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

#comments
{
    margin-bottom: 3em;
}

#comments h1
{
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    // border: 1px solid violet;
}

#followed h1
{
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    // border: 1px solid violet;
}

#followed
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#beercommentedsorted h1
{
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    // border: 1px solid violet;
    width: 99%;
}

// #beercommentedsorted
// {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     justify-content: center;
//     text-align: center;
// }

#beersort_page
{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    border: 1px solid white;
    padding: .7em;
    font-size: 1em;
    transition: .5s;
}

#beersort_page:hover
{
    text-decoration: underline;
    background-color: black;
    color: white;
    border-radius: 1.5em;
    border: 1px solid black;
    padding: .7em;
    font-size: 1.1em;
    transition: .5s;
}

#beersort_page_box
{
    text-align: center;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.comment
{
    // border: 1px solid violet;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.link_name
{
    color: white;
    text-decoration: none;
    line-height: 1.5em;
}

.link_name:hover
{
    color: gray;
}

#name
{
    font-size: 1.2em;
}